body{
    width: 1519px;
    height: 792px;
}

header{
    background-color: #0D1B2A;
    margin: 0 auto;
    height: 350px;
}

.sebbylebby-photo{
    display: inline-block;
    position: relative;
    top: 30px;
    margin: auto 20px;
    width: 300px;
    height: 300px;
}

#imagen-yo{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    margin: 0 50px 0 50px;
}

.bloque-info{
    display: inline-block;
    position: absolute;
    top: 25px;
    width: 800px;
    height: auto;
    background-color: #E6E8E6;
    border-radius: 3px;
    margin: 0 auto;
}

.titulo-mediano{
    color:#0D1B2A;
    font-size: 30px;
    margin-bottom: 15px;
    padding: 8px 0 5px 15px;
}

.informacion{
    color: #0D1B2A;
    padding: 0 10px 5px 10px;
    font-size: 18px;
    text-align: justify;
    line-height: 25px;
}

#mi-nombre{
    text-decoration: underline;
    font-weight: bold;
    font-size: 22px;
}

#idiomas{
    font-style: italic;
    font-size: 20px
}

.portafolio{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 160px;
    left: 1280px;
    top: 60px;
    height: auto;
    width: 80px;
    border-radius: 3px;
    background-color: rgba(230,232,230,0.4);
}

#github{
    width: 60px;
    height: 60px;
    padding-top: 8px;
    margin: 0 10px 8px 10px;
}

#linkedin{
    width: 60px;
    height: 60px;
    padding-top: 8px;
    margin: 0 10px 8px 10px;
}

nav{
    position: absolute;
    margin-left: 440px;
}

nav ul li{
    border: solid;
}

.barra-nav{
    display: flex;
}

.boton{
    background-color: #E84855;
    color: white;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
}

.boton:hover{
    background-color: #ba242e;
}
/*---------------------------------*/

main{
    background: linear-gradient(#0D1B2A, #415A77);
    height: 1080px;
}


h1.titulo-programas{
    color:white;
    font-size: 55px;
    position: relative;
    top: 90px;
    margin-left: 120px;
}

.caja-habilidades{
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.caja-logos{
    background-color: rgba(230,232,230,0.4);
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px 0 20px;
    border-radius: 3px;
}

.frontend{
    display: flex;
    align-items: center;

}

.backend{
    display: flex;
    align-items: center;

}

.data-analysis{
    display: flex;
    align-items:center;

}

.logo{
    display: inline-block;
    padding: 15px 15px 10px 10px;
}


h1.titulo-experiencia{
    color:white;
    position: relative;
    top: 20px;
    font-size: 55px;
    margin-left: 100px;
    padding: 20px;
}


ul.logros{
    margin: 15px 0 60px 70px;
    background-color: rgba(230,232,230,0.4);
    width: 850px;
    height: 525px;
    border-radius: 3px;
}


.items::before{
    content: "✦";
    color:#FFFE00;
    padding-right: 10px;
}

.items{
    color:white;
    font-size: 30px;
    text-align: justify;
    line-height: 50px;
    letter-spacing: 0.1px;
    padding: 10px;
}

footer{
    background-color: #30343F;
    width: auto;
    height: 150px;
}

#texto-pie{
    color: #FAFAFF;
    text-align: center;
}

@media screen and (max-width: 376px) {

    body{
        width: auto;
        height: auto;
    }

    header{
        width: auto;
        height: 800px;
        margin: 0 auto;
    }

    .sebbylebby-photo{
        display: block;
        margin: 0 auto;
        margin-bottom: 0;
        height: 250px
    }

    #imagen-yo{
        width: auto;
    }

    .bloque-info{
        display: block;
        position: relative;
        width: 320px;
        height: 390px;
        margin: 0 auto;
        padding: 3px;
    }

    h3.titulo-mediano{
        margin-bottom: 5px;
    }

    .informacion{
        font-size: 16px;
    }

    .portafolio{
        width: 160px;
        display: flex;
        position: absolute;
        top: 690px;
        left: 110px;
        flex-direction: row;
    }

    nav{
        margin: 0;
        position: relative;
        top: 150px;
    }

    .barra-nav{
        flex-direction: column;
        flex-wrap: wrap;
    }

    .boton{
        padding: 20px 20px;
    }
}